.ChatMessages {
  background-color: var(--background-color);
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0.5rem;
}
.scroll {
  height: 100vh;
  width: 100%;
}

/* hide scrollbars */
.ChatMessages::-webkit-scrollbar {
  display: none;
}

.messageList {
  list-style: none;
  padding: 0;
}

.messageList > div {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 0.5rem;
  width: max-content;
  max-width: 90vw;
  background-color: var(--bubble-color);
  color: var(--text-color);
  border-radius: 1rem;
  padding: 0.5rem;
}

.message-self {
  background-color: var(--self-bubble-color);
}

.message-info {
  color: var(--button-color);
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 0.25rem;
}

.join-info {
  text-align: center;
  color: var(--button-color);
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 0.25rem;
}

.flex-end {
  align-self: end;
}
