.ChatForm {
  height: 2.5rem;
  min-height: 2.5rem;
  display: flex;
  border-top: 0.1px solid var(--border-color);
  justify-content: space-between;
}

#messageInput {
  flex-grow: 1;
  border: none;
  text-indent: 0.5rem;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
}

#messageInput:focus {
  outline: none;
}

#submitBtn {
  background-color: var(--button-color);
  border: none;
  width: 10%;
}
